.checkbox-container {
  display: flex;
  align-items: center;

  p {
    display: flex;
  }
}

.checkbox {
  display: none;

  & + *::before {
    content: '';
    cursor: pointer;

    margin-right: 1rem;
    display: inline-block;

    border-radius: 8px;
    border: 1px solid #dce2e6;

    height: 1.5rem;
    width: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;
  }

  &:checked + *::before {
    content: url('../../../../public/icons/checkbox_right.svg');

    display: flex;
    justify-content: center;
    align-items: center;

    border-color: none;
    color: var(--white);
    background: var(--green);
  }
}

.error {
  font-size: 0.875rem;
  color: var(--exclude);
  margin-top: 0.3125rem;
  white-space: pre-line;
}
