.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 6rem;
  height: 100%;
  padding: 1.5rem 0 2rem;

  background-color: var(--orange);

  @media (max-width: 920px) {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  gap: 2.5rem;
}
