.nav {
  display: flex;
  width: 100%;
  height: 6rem;

  background-color: var(--white);

  z-index: 1;
  padding: 1.5rem 7rem;

  @media (max-width: 920px) {
    padding: 1.5rem 5rem;
  }

  @media (max-width: 720px) {
    padding: 1.5rem 2rem;
  }
}

.left {
  margin-right: auto;

  display: flex;
  align-items: center;
  gap: 0.875rem;

  img {
    cursor: pointer;
  }

  h1 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.875rem;

    color: var(--title);
  }
}

.center {
  justify-self: center;

  p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--complement);
  }
}

.right {
  display: flex;
  gap: 1.5rem;

  margin-left: auto;
}
